---
layout: default
title: Timeline
link: Timeline
weight: 5
---

<p>Notable events that happend in neverdaunt</p>

<h2>Ordered Events (approximate dates)</h2>

<ol>
    <li>June 1st, 2007 - Chibis first walked</li>
    <li>April 22nd, 2008 - Nekos roam on an island</li>
    <li>May 30th, 2010 - Attaching blocks and Mover Tronic detailed - https://www.youtube.com/watch?v=Sp9ywqvGibQ</li>
    <li>June 8th, 2010 - Tronics are released. Aion also gifts every game item available in the shop to every single player in order to use for the 2nd trailer.</li>
    <li>June 9th, 2010 - Greenwolf, Tzeryushi and Conexion are allowed into the Contributor group.</li>
    <li>June 26th, 2010 - Wizard and Weasel are knighted as ludus knights. Fingerfactor, Tzeryushi, Darkseed and Corber are guarded as ludus guards.</li>
    <li>August 8th, 2010 - Fingerfactor, Tzeryushi and Corber are knighted as ludus knights.</li>
    <li>August 28th, 2010 - Neverdaunt obtains a new dedicated server.</li>
    <li>August 28th, 2010 - Aion was careless about where he added new cells. (And thus made it so we could walk to the TARDIS.)</li>
    <li>September 4th, 2010 - Darkseed quit.</li>
    <li>Sptember 16th, 2010 - Fishmines were built.</li>
    <li>September 20th, 2010 - Testhat and Testsword vendors were added.</li>
    <li>October 10th, 2010 - Remote server started</li>
    <li>October 12th, 2010 - The Relics were discovered.</li>
    <li>October 19th, 2010 - The Great Expansion?</li>
    <li>October 30th, 2010 - ThePumpkinKing was killed by a group of players, including TheVoidGuardian, Corber, TheMadBomber, and various other people were there in spirit.</li>
    <li>November 2nd, 2010 - Null was killed for the second time, dropping his Nullblade. Voidguardian hit me with it, and thus began the great nulling...</li>
    <li>November 8th, 2010 - Null attempts to reclaim his Nullblade, but fails.</li>
    <li>November 24th, 2010 - Attaching things to HP Drinks to make them spin glitch.</li>
    <li>January 14th, 2011 - Release of Teams?</li>
    <li>February 16th, 2011 - Aion confirms that Fishman is not TOMMAY.</li>
    <li>March 28th, 2011 - "The Hatch" appears.</li>
    <li>March 31st, 2011 - Yammot goes online.</li>
    <li>April 1st, 2011 - Release of CAPS drinks.</li>
    <li>April 6th, 2011 - A wild KitsuneTsuki appears!</li>
    <li>April 18th, 2011 - Release of Nekos</li>
    <li>April 23rd, 2011 - VoidGuardian is knighted as a ludus knight.</li>
    <li>July 9th, 2011 - The great ship invasion of -6,0</li>
    <li>July 16th, 2011 - A wild Ghost Appears! (He appeared before this, but this was the first time that i met him...)</li>
    <li>September 15th, 2011 - The ghost of ThePumpkinKing appears.</li>
    <li>May 26th, 2012 4:00PM EST - Start of the dark age (server shut down)</li>
</ol>

<h2>Other Events (no dates and in no particular order)</h2>

<ul>
    <li>madbomber's riddle thing in cartridge with various epics</li>
    <li>I-DO computational system (this predates tronic saving. And tronic saving was introduced shortly after it was taken down)</li>
    <li>Zohne's text adventure</li>
    <li>Reconstruction of safecastle done by users (weasel/wizard/aion/justin(sortof))</li>
    <li>Day bombs were introduced</li>
    <li>aion's first birthday party</li>
    <li>First Halloween building event (weasel, corber, justin, sam, nintendo(personnamething i don't remember), wizard, ix)</li>
    <li>APCs introduced</li>
    <li>Great forest building event</li>
    <li>Great forest building event v2</li>
    <li>Fishmines introduced</li>
    <li>Doom caverns made (wizard, mikey, tons of random other people contributed single blocks??)</li>
    <li>ghost maze made (mikey got ghost beta cap)</li>
    <li>Customs first introduced (justin got first one (his gun))</li>
    <li>ludus disco underneath safe castle</li>
    <li>TrailerV2 (tons of people)</li>
    <li>Neko testing laboratory constructed in cartridge</li>
    <li>Day justin/weasel/wizard were first ludus guarded</li>
    <li>Day tutorial was removed</li>
    <li>grounds changing from those beige-underbelly to brown</li>
    <li>basic blocks lost their black borders</li>
    <li>mikey/presentfactory breaking into wizard's bank vault</li>
    <li>HP drink rotating/attachment bug</li>
    <li>infini-run & infini-bomb, bugs involving the animation system</li>
    <li>kurobit made first custom user-made animation by hand-editing</li>
    <li>fileformat moved from .n8 -> .ncd</li>
    <li>radio stations implemented into the game</li>
    <li>maker released to the public</li>
    <li>test sword/hat vendor added to safe castle</li>
    <li>Tagsword vendor removed from game (then later added as an epic)</li>
    <li>ther-mites created to combat cell-height landstacks</li>
    <li>BIG RED CELL INVASION</li>
    <li>weasel's token farm out at the south-east corner of the world incorporating 4 cells</li>
    <li>aion rewriting the cell loading code about 4 times</li>
</ul>

<h2>Credits</h2>

<ul>
    <li>Battleben, for supplying a large amount of the dates + pictures</li>
    <li>Corber for a few of the dates/pictures</li>
    <li>Wizard for all of the events without dates</li>
</ul>