---
title: Etc
link: ETC
weight: 0
layout: default
---
<p>all of the stuff i haven't sorted yet because it takes forever because jekyll is dumb <small>or i'm dumb and just not good at using it</small></p>

<ul>
    <li><a href="tools/">etc/tools/ - Programs/tools made by people that supplement N8*</a></li>
    <li><a href="hats/">etc/hats/ - All of the officially released "hats"</a></li>
    <li><a href="monsters/">etc/monsters/ - All of the officially released monsters</a></li>
    <li><a href="ncd/">etc/ncd/ - All of the NCD (cell file format) shipped with the game</a></li>
    <li><a href="textures/">etc/textures/ - All of the textures shipped with the game, in PNG format</a></li>
    <li><a href="DDS/">etc/DDS/ - All of the textures shipped with the game, in their original DDS format</a></li>
    <li><a href="n8/">etc/n8/ - Stuff located in the N8 installation folder</a></li>
    <li><a href="data/">etc/data/ - Stuff located in the Data folder of the N8 installation folder</a></li>
    <li><a href="TVA/">etc/TVA - Stuff located in the TVA folder of the N8 installation folder</a></li>
    <li><a href="tronics/">etc/tronics/ - large transparent images of the various tronics</a></li>
    <li><a href="player/">etc/player/ - player-generated content</a></li>
    <li><a href="tinyplumbers/">etc/tinyplumbers/ - content related to that other game called "tinyplumbers"</a></li>
</ul>
