---
layout: default
title: Home
link: Home
weight: 100000
---

<p>a backup of nearly everything related to <a href="//8bit.neverdaunt.com">N8*</a></p>

<h2>News</h2>
<ul>
    {% for post in site.categories.news %}
    <li><span>[{{post.date}}]</span> <a href="{{ post.url }}">{{post.title}}</a></li>
    {% endfor %}
</ul>