---
title: Tutorials
link: Tutorials
weight: 50
---

<p>some tutorials, yo</p>

{% assign documents = site.pages | where:"cat","tutorial" | sort: "weight" %}
{% assign dir = "tutorials" %}

<ul>
    {% for d in documents %}
    <li><a href="{{d.url}}">{{d.link}}</a></li>
    {% endfor %}
</ul>

{%comment%}{% include tut/show-children.html dir=dir docs=documents %}{%endcomment%}
