<script>
var idcomments_acct = '14baa82f5b8ca4bf44e599a71bf033d6';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='//www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
