<ul>
    {% assign trimmed_page = page.path | remove:"/index.html" %}
{% directory path:{{trimmed_page}} %}
    <li><a href="{{ file.url | uri_escape }}" >{{ file.name }}</a></li>
{% enddirectory %}
</ul>