<footer><p>Webmaster: <a href="//xelivo.us/">Xelivous</a></p><p>Go complain to him if you have a problem, probably. You can also view the source code for this site <a href="//gitlab.com/pixellegacy/pixellegacy.gitlab.io/">on gitlab</a>.</p></footer>
</body>
</html>
