{% assign stuff = include.stuff %}
<tr class="stuff">
    <td class="image">{% include stuff/image.html stuff=stuff %}</td>
    <td class="title">{{stuff.title}}</td>
    <td class="creator">{{stuff.creator}}</td>
</tr>
