@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Noto+Sans);
$font-stack: "Noto Sans", Tahoma, Sans-Serif;
$font-stack-title: "Noto Serif", Georgia, Serif;
$color-bg: #efefef;
$color-primary: #333;
$color-secondary: rgb(10,40,80);

html, body {
    margin: 0;
    padding: 0;
}
html {
    cursor: url(asset_path("cursor/cursor.png")), auto;
    height: 100%;
}

body {
    background: $color-bg;
    font: 10pt $font-stack;
    line-height: 1.2em;
    color: $color-primary;
    padding:1em;
}

a {
    cursor: url(asset_path("cursor/cursortarget.png")) 10 10, auto;
}
:active {
    cursor: url(asset_path("cursor/cursorlclick.png")), auto;
}

h1{
    font-size: 1.7em;
}
h2{
    font-size: 1.5em;
    color: #555;
}
h3{
    font-size: 1.2em;
    font-style: italic;
}

nav {
    list-style: none;
    margin:0.5em;
    padding:0;
    background: fade_out($color-secondary, 0.3);
    color: #fff;
}
nav li{
    display: inline-block;
    padding: 0.25em 0.5em;
}
body footer a, nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

header{
    display:block;
    margin: 0.75em;
}
header h1{
    display: block;
    margin:0.25em;
}
header span{
    margin-left: 1em;
    font-style: italic;
    display:block;
}

/* lol footer shit */
body {
    padding-bottom: 5.5em;
}
body footer {
    position: fixed;
    bottom: 1em;
    height: 3em;
	display: block;
	left: 1em;
	right:1em;
    background: fade_out($color-secondary, 0.3);
    color: #fff;
	text-align: center;
	padding-top: 0.5em;
}
body footer p {
    padding: 0em;
    margin: 0;
}
body footer a {
    color: rgb(180,230,255);
}
