---
layout: default
title: Community
link: Community
weight: 99
---

<h2>Links</h2>

<p>Various community links, resources, and projects. If you have something to add to this page, let me know.</p>

<h3>Official Links</h3>

<ul>
    <li><a href="//8bit.neverdaunt.com">Official Website for N8*</a></li>
    <li><a href="//robotloveskitty.com">Developer's Website</a></li>
</ul>

<h3>Community Groups</h3>

<ul>
    <li><a href="https://discord.gg/010GkeR9dBjAaqwhQ">Discord Server (Text/Voice Chat)</a></li>
    <li><a href="https://steamcommunity.com/groups/robotloveskitty">Steam Group - RobotLovesKitty</a></li>
    <li><a href="https://steamcommunity.com/groups/pixellegacy">Steam Group - Pixel Legacy</a></li>
    <li><a href="https://steamcommunity.com/groups/neverdaunt8bit">Steam Group - Neverdaunt:8bit*</a></li>
</ul>

<h3>Projects</h3>

<ul>
    <li><a href="https://github.com/bluh/minitrons-remake">Socks - A 2D remake of tronics, "Minitrons"</a></li>
</ul>

<hr>

<h2>Comments</h2>

<p>A poor attempt at including a comment/forum system below:</p>

{% include comments.html %}