---
title: Stuff
link: Stuff
weight: 1
---

<h2>Official</h2>
<p>Stuff that was included officially (and likely sold in the shop)</p>

<h3>Creators</h3>
<dl>
    {% assign creators = site.stuff | group_by:"creator" %}
    {% for creator in creators %}
        {% assign variants = creator.items | group_by:"variant" %}
        <dt>{{creator.name}}</dt>
        <dd>{{creator.items.size}} things made</dd>
    {% endfor %}
</dl>

<h3>Packs</h3>
<ul>
    {% for pack in site.packs %}
        <li><a href="{{ pack.url }}">{{pack.title}}</a></li>
    {% endfor %}
</ul>