---
title: Screenshots
link: Screenshots
weight: 1
---
<h2>Files</h2>
<ul>
{% for image in site.player_content %}
    {% if image.path contains '_player_content/screenshots' %}
        <li><a href="{{ image.url }}">{{ image.url }}</a></li>
    {% endif %}
{% endfor %}
</ul>
