{% include html-header.html %}
    <article>
        <h1>{% assign trimmed_page = page.path | remove:"/index.html" %}{{trimmed_page}}</h1>
        <h2><a href="../">(../) Up a directory</a></h2>
        
        {{content}}
        
        {% include dir.html %}
    </article>
{% include html-footer.html %}
