{% include html-header.html %}
    <article>
        <h1>{% if page.title != "" %}{{page.title}}{% else %}{{page.id}}{% endif %}</h1>
        {{content}}
    </article>

    <h2><a href="../../">Return to STUFF</a></h2>
    {% include stuff/table-head.html %}
        {% for file in page.files %}{% assign safe_file = file | xml_escape %}
            {% assign myfile = site.stuff | where:"slug", safe_file | first %}
            {% if myfile %}{% include stuff.html stuff=myfile %}{% else %}<tr><td>Stuff ({{safe_file}}) not found!</td></tr>{% endif %}
        {% endfor %}
    {% include stuff/table-foot.html %}

{% include html-footer.html %}