{% include html-header.html %}
    <article>
        <h1>{% if page.title != "" %}{{page.title}}{% else %}{{page.id}}{% endif %}</h1>
        {{content}}
    </article>

    
    <h2>files</h2>
    <ul>
        {% for file in page.files %}{% assign safe_file = file | uri_escape %}
            {%comment%}{% assign myfile = site.stuff | where:"slug", safe_file | first %}
            <li><a href="{{page.url | uri_escape }}{{safe_file}}">{{safe_file}}</a></li>{%endcomment%}
        {% assign p = page.path_assets | append: "/" | append: safe_file %}
        <li><a href="{{ p | asset_path}}">{{p | asset_path}}</a></li>
        {% endfor %}
    </ul>
{% include html-footer.html %}