{% include html-header.html %}
    <article>
        <h1>{% if page.title != "" %}{{page.title}}{% else %}{{page.id}}{% endif %}</h1>
        <h2><a href="../">Return to tutorial listing</a></h2>
	    {{content}}
    </article>
{% include html-footer.html %}
